@import "~node_modules/modern-normalize/modern-normalize.css";

.container {
  max-width: $mobile;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    max-width: 668px;
  }

  @media screen and (min-width: $desktop) {
    max-width: none;
    width: 1110px;
  }
}

body {
  scroll-behavior: smooth;
  font-family: $primaryFont;
  font-weight: 700;
  line-height: 1.5;
  font-size: 48px;
  color: $white-color;
  background-color: #0e21a0;
}

.animate {
  opacity: 0;
  transform: translateY(32px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
