$primaryFont: 'Chiron GoRound TC', sans-serif;
$projectsFont: 'Caveat', sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$white-color: #fff;
$accent-color: #F375C2;
$ink-color: #0305AB;