.hero {
    display: flex;
    height: 560px;
    align-items: center;
    background: radial-gradient(circle at 75% 50%, rgba(187,0,204,1) 0%, rgba(68,68,68,1) 25%);
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-heading {
    font-size: 64px;
    width:683px;
}