.hero {
    height: 568px;
    background-image: linear-gradient(0deg,rgba(0, 27, 122, 0) 0%, rgba(177, 83, 215, 1) 100%);

    .container {
        display: flex;
        align-items: center;
    }
}

.hero-card {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 480px;
    height: 280px;
    border-radius: 48px;
    overflow: hidden;
    text-align: center;
    background-color: #F0EED9;
    transform: rotate(-12deg);
}

.hero-hello {
    background-color: #FF5A45;
    width: 100%;
    padding: 12px 0 2px;
    font-family: 'Inter';
}

.hero-text {
    font-size: 48px;
    line-height: 58px;
}

.hero-subtext {
    font-size: 20px;
    line-height: 24px;
}

.hero-name {
    margin: 0 auto;
    width: 236px;
    font-family: $projectsFont;
    font-size: 64px;
    line-height: 81px;
    color: #656565;
}
